.Preview {
}
.Misc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.Misc div {
  margin-right: 10px;
}

.Misc div:last-of-type {
  margin-right: 0px;
}

.Date {
  color: #563359;
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #edf2f7;
  margin-bottom: 0.5rem;
}

.Tag {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #b2f5ea;
  color: #234e52;
  margin-bottom: 0.5rem;
}

.Details {
  color: #563359 !important;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #563359;
}

.Body {
  width: 100%;
}
